body {
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  background-size:cover;
  color: #e2e2e2;
  margin: 0;
  font-family: rubik;
  min-height: 100vh; /* fixed gradient background bug*/
}

.container {
  padding: 20px;
  margin: 0 auto;
}

.container img {
  display: flex;
}


#search {
  padding: 10px 25px;
  border-radius: 20px;
  outline: 0px;
  border: 1px solid transparent;
  float: right;
  border-top: 200px;
  margin-top: -85px;
}

#search:focus {
  border-color: #e9e9e9;
}


h2 {
  margin-bottom: -0.4em;
  color: #000000;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
  padding-inline-start: 0;
}

.card {
  list-style: none;
  padding: 40px;
  text-align: center;
  border-radius: 15px;
  position: relative;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border: .3rem solid var(--type-color);
  color: #000000;
  max-width: 350px;
  margin-left: 20px;
  margin-right: 20px;
}

.card::after {
  content: "";
  display: block;
  width: 40%;
  height: 35%;
  border-radius: 58% 42% 64% 36% / 47% 45% 55% 53%;
  background-color: var(--type-color);
  position: absolute;
  top: 25%;
  left: 30%;
}

.card:hover {
  animation: bounce 0.5s linear;
  box-shadow: 3px 3px 3px 3px var(--type-color);
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.card-subtitle {
  margin-top: 5px;
  color: #000000;
  font-weight: lighter;
  position: relative;
  z-index: 2;
}

.card-image {
  height: 180px;
  position: relative;
  z-index: 2;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}
